{% extends 'base.html' %}

{% load static %}

{% block content %}
<table border="1px solid black">
    <tr>
        <th>picture</th>
        <th>infomartion</th>
    </tr>
    {% for animal in animals %}
    <tr>
        <td>
        {% if animal.photo_set.all %}
            <a href="{{ animal.get_absolute_url }}">
                <img src="{{ animal.photo_set.first.url }}" alt="picture of {{ animal.id }}">
            </a><br>
            點擊圖片看仔細～
        {% else %}
            no picture<br>
            <a href="{{ animal.get_absolute_url }}">
                click for more detail
            </a><br>
        {% endif %}
        </td>
        <td>
            id: {{ animal.id }}<br>
            species: {{ animal.breed.species.name }}<br>
            breed: {{ animal.breed.name }}<br>
            genger: {{ animal.gender }}<br>
            location: {{ animal.footprint_set.first.location}}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}