{% extends 'base.html' %}

{% load static %}

{% block content %}
<table border="1px solid black">
    <tr>
        <th>picture</th>
        <th>infomartion</th>
    </tr>
    {% for animal in animals %}
    <tr>
        {% for photo in animal.photo_set.all %}
        {% if forloop.first %}
        <td>
            <a href="{{ animal.get_absolute_url }}">
                <img src="{{ photo.url }}" alt="picture of {{ animal.id}}">
            </a><br>
            點擊圖片看仔細～
        </td>
        {% endif %}
        {% endfor %}
        <td>
            id: {{ animal.id }}<br>
            species: {{ animal.breed.species.name }}<br>
            breed: {{ animal.breed.name }}<br>
            genger: {{ animal.gender }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}